/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/



body {
    margin: 0;
    width: 3000px;
    background-color: #D4A76A;
   
    
  
}

.hd {
    background: #FFDBAA;
    padding: 30px 30px 0px 0px;
    border: solid black;
    border-width: thin;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #553100;
    padding-left: 40px;
    
  
   
  }
  
  .outer1 {
    background-color: white;
    align-content: start;
    margin-left: 110px;
    margin-top: 30px;
    box-shadow: 1px 1px 10px 2px black;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
  
   
  }
  
  .inner1{
    background-color: white;
    align-content: center;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
    padding-top: 10px;
  }
  
  .outer2 {
       background-color: white;
    align-content: start;
    margin-left: 110px;
    margin-top: 30px;
    box-shadow: 1px 1px 10px 2px black;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
  
  
   
  }
  
  .inner2{
    background-color: white;
    align-content: center;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
    padding-top: 10px;
  }
  
  .outer3 {
       background-color: white;
    align-content: start;
    margin-left: 110px;
    margin-top: 10px;
    box-shadow: 1px 1px 10px 2px black;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
  
  }
  
   
  
  
  .inner3{
     background-color: white;
    align-content: center;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
    padding-top: 10px;
  }
  
  
  .outer4 {
       background-color: white;
    align-content: center;
    margin-left: 110px;
    margin-top: 30px;
    box-shadow: 1px 1px 10px 2px black;
    width: 950px;
    height: 200px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    
    }
  
  
  .inner4{
     background-color: white;
    align-content: center;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
    padding-top: 10px;
  }
  
  
.buttons{
    background: #805215;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    border: 0.1px;
    border-bottom: none;
    padding: 20px 20px 20px 20px;
    
  }
  #btn1{
    position: relative;
   bottom: 60px;
   left: 800px;
  }
  #btn2{
    position: relative;
   bottom: 60px;
   left: 825px;
  }
  #btn3{
    position: relative;
   bottom: 60px;
   left: 850px;
  }
  #btn4{
    position: relative;
   bottom: 60px;
   left: 875px;
  }
  
  #btn5{
   
    border: solid black;
    border-width: thin;
    justify-content: center;
    margin-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    font-size: 15px;
    font-family: sans-serif;
  }
  
  #btn6{
   
    border: solid black;
    border-width: thin;
    justify-content: center;
    margin-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: sans-serif;
    height: 50px;
      }
    #btn7{
   
    border: solid black;
    border-width: thin;
    justify-content: center;
    margin-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: sans-serif;
    height: 50px;
    
    }
    
      
  #btn8{
   
    border: solid black;
    border-width: thin;
    justify-content: center;
    margin-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: sans-serif;
    height: 50px;
    width: 950px;
    
    }
    
  
  